.main{
    border: 2px solid blue;
    height: 100vh;
 padding: 40px 125px;
}

.row1{
    height: 80px;
    border: 1px solid green
}
.row2{
    border: 5px solid rgb(163, 131, 4);
    display: flex;
    gap:22px
}
.rowCol1{

    width: 370px;
    height: 574px;
    border: 5px solid red
}
.rowCol2{
    width:755px;
    height: 574px;
    border: 4px solid rgb(10, 113, 108)
}