$primary-navy:#2A2F4E;
$backgroundLinear:#D0DDE4;
$darkgrey:#838AA2;
$blue:#034EA2;
$skyBlue:#00608B;
$otherBlue:#4187B0;
$white:#FFFFFF;
$borderColor:#E4E4E4;


.mainContainer{
border: 1px solid $borderColor;
padding:55px 46px;
height:100vh;
display:flex;
justify-content: center;
align-items: center;

}

.col1{
    background: linear-gradient(to bottom, $white,$backgroundLinear);
    border: 1px solid $borderColor;
    width: 100%;
    height: 100%;
    max-width:359px;
    max-height: 916px;
    border-radius: 20px;
    padding-top: 99px;
    text-align: center;
    color:$primary-navy;
    line-height: 32px;
    font-size: 28px;
.col1title{
    margin-bottom: 100px;
}
.pastWeatherDtaContainer{
    display: flex;
    flex-direction: column;
    gap:29px;
    margin-bottom: 61px;
}
.viewMoreBtn{
   font-size: 18px;
   text-decoration: underline;
   color:$skyBlue
}
}
.col2{
    height: 100%;
    flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;  
    background: radial-gradient(circle, #D0DDE4, white);
}

.currentWeatherContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 444px;
    max-height: 444px;
    
}
.currentWeather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   color:$skyBlue;
   font-size: 24px;
text-align: center;

}

.sunIcon{
 
}
.currentLocationTitle{
    font-size: 28px;
    line-height: 32px;
    position: absolute;
    top:19%;
    z-index: 1000;
    color:$primary-navy
}
.currentLocationSubTitle{
    font-size: 18px;
}
.currentWeatherData{
    font-size: 24px;
    white-space: nowrap;
}
