$primary-navy:#2A2F4E;
$darkgrey:#838AA2;
$blue:#034EA2;
$skyBlue:#00608B;
$white:#FFFFFF;


.mainContainer{

    display: flex;
   height: 100vh;
 
}

.col2{
    color:$primary-navy;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        width:100%;
        max-width:553px;
       display:flex;
       flex-direction: column;
       gap:5px;
    }
}

.col2Row1{
 
    height:72px;
    margin-bottom: 32px;
    .title{
        color:$primary-navy;
        line-height: 32px;
    text-align: left;
    margin-bottom: 16px;
    font-weight: 500;
       }
       p{
        color:$darkgrey;
        line-height: 24px;
        font-size: 16px;
        letter-spacing: 0px;
       }
}
.col2Row2{
    display:flex;
    flex-direction: column;
    .field{
        border:1px solid $darkgrey;
        width:100%;
        height: 56px;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        padding:0px 16px;
        gap:2px;
        margin-bottom: 16px;
        label{
            color:$darkgrey
        }
        input{
            border:none;
            width:100%;
            height:100%;
            border-radius: 8px; 
        }
        input:focus{
            border: none;
            outline: none;
        }
        input::placeholder {
            color: $primary-navy
          }
    }
    .forgotPassword{
        color:$blue;
        text-align: right;
        line-height: 20px;
        letter-spacing: 0.3px;
        margin-bottom: 24px;
        text-decoration: underline;
    }
}
.col2Row3{
    display: flex;
    flex-direction: column;
    text-align: center;
    .submitBtn{
        background-color:$skyBlue;
        height: 56px;
        color:$white;
        border-radius: 8px;
        border:none;
        line-height: 24px;
        font-size: 18px;
        letter-spacing: 0.2px;
        margin-bottom: 32px;
    }
    .toggleLoginBtn{
        color:$blue;
        background-color: transparent;
        border:none
    }
    .toogleFormPara{
        color:$darkgrey
    }
}